body {
    background-color: #EFEEB4;


    header {
        z-index: 3;
        top: 0;
        position: fixed;



        div {

            nav {

                border: 1px solid transparent;
                border-radius: 50px;
                background-color: white;

                div {
                    a {
                        span {
                            font-family: "space grotesk", sans-serif;
                            font-size: 20px;
                        }

                    }
                    button{
                        border:transparent;
                        &:hover{
                            border:transparent;
                        }
                    }

                    div {
                        ul {
                            li {
                                a {
                                    .contactt {
                                        border: 1px solid transparent;
                                        border-radius: 50px;
                                        width: 120px;
                                        display: block;
                                        height: 40px;
                                        background-color: #212529;

                                        &:hover {
                                            background-color: #58b360;
                                        }


                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .container {



        .right-box-text {

            margin-bottom: 20px;

            h1 {
                span {}
            }

            div {
                p {
                    color: #31302f;
                    font-size: 24px;
                    margin-top: 27px;
                    margin-bottom: 3rem;
                }

            }


            div {
                .linkcon {
                    border: 1px solid transparent;
                    border-radius: 50px;
                    width: 148px;
                    height: 48px;

                    display: block;
                    background-color: #58b360;
                    text-decoration: none;

                    &:hover {
                        background-color: #212529;
                    }


                    span {
                        color: white;
                        font-size: 18px;

                    }
                }
            }
        }

       
        .left-box-img {

            
            
            border: transparent;
            border-radius: 123px 0px 0px 120px;
            padding: 0px;
            position: relative;
            overflow-x: hidden;



            &:hover {
                .back-img1 {
                    width: 246px;
                    height: 197px;
                    border: transparent;
                    border-radius: 123px 0px 140px 0px;
                    background-color: #10825acf;
                    z-index: 2;




                    .back-img1-up {
                        width: 246px;
                        height: 197px;
                        border: transparent;
                        border-radius: 123px 0px 140px 0px;
                        background-color: #bcd2eb;

                        z-index: 2;
                        animation-timing-function: ease;
                        animation: mymove 1s;
                        animation-fill-mode: forwards;

                        @keyframes mymove {
                            from {
                                left: 0px;
                            }

                            to {
                                left: 50px;
                            }

                        }
                    }



                    .img-left {
                        width: 246px;
                        height: 197px;
                        border: transparent;
                        border-radius: 123px 0px 140px 0px;
                        z-index: 3;
                        animation-timing-function: ease;
                        animation: mymove 1s;
                        animation-fill-mode: forwards;



                        @keyframes mymove {
                            from {
                                left: 0px;
                            }

                            to {
                                left: 50px;
                            }

                        }

                    }

                    .right-top {
                        width: 150px;
                        height: 197px;
                        border: transparent;
                        border-radius: 0px 0px 0px 140px;
                        background-color: #bcd2eb;
                        z-index: 1;
                        position: absolute;
                        margin-left: 345px;
                        transition: 1s;


                    }
                }

                .back-img2 {





                    .back-img2-up {
                        width: 205px;
                        height: 197px;
                        border: transparent;
                        background-color: rgb(31 177 126);
                        border-radius: 50%;
                        z-index: 2;
                        position: absolute;

                        animation-timing-function: ease;
                        animation: img2 1s;
                        animation-fill-mode: forwards;




                        @keyframes img2 {
                            from {
                                right: 0px;
                            }

                            to {
                                right: 70px;
                            }

                        }
                    }






                    .img-right {
                        width: 205px;
                        height: 197px;
                        border: transparent;
                        border-radius: 50%;
                        z-index: 3;
                        position: absolute;

                        animation-timing-function: ease;
                        animation: img2 1s;
                        animation-fill-mode: forwards;



                        @keyframes img2 {
                            from {
                                right: 0px;
                            }

                            to {
                                right: 70px;
                            }

                        }

                    }
                }

                .box-in-right-box-bottom-r {
                    display: none;
                }

                .box-in-right-box-bottom-l {
                    display: none;
                }



            }









            .back-img1 {
                width: 246px;
                height: 197px;
                border: transparent;
                border-radius: 123px 0px 140px 0px;
                background-color: #309975cf;
                z-index: 1;
                position: absolute;

                .back-img1-up {
                    width: 246px;
                    height: 197px;
                    border: transparent;
                    border-radius: 123px 0px 140px 0px;
                    background-color: #bcd2eb;
                    z-index: 2;
                    position: absolute;
                }


                .img-left {
                    width: 246px;
                    height: 197px;
                    border: transparent;
                    border-radius: 123px 0px 140px 0px;
                    z-index: 3;
                    position: absolute;

                }


                .right-top {
                    width: 246px;
                    height: 197px;
                    border: transparent;
                    border-radius: 0px 0px 0px 140px;
                    background-color: #bcd2eb;
                    margin-left: 246px;
                    z-index: 1;
                    position: absolute;



                }
            }

            .left-between {
                width:291px;
                height: 197px;

                background-color: #10825acf;
                border: transparent;
                border-radius: 0px 122px 122px 0px;
                z-index: 1;
                position: absolute;

            }

            .right-between {
                margin-top: 197px;



                .back-img2 {
                    width: 205px;
                    height: 197px;
                    border: transparent;
                    border-radius: 50%;
                    background-color: #bcd2eb;
                    z-index: 1;
                    position: absolute;
                    margin-left: 292px;



                    .back-img2-up {
                        width: 205px;
                        height: 197px;
                        border: transparent;
                        background-color: #309975cf;
                        border-radius: 50%;
                        z-index: 2;
                        position: absolute;

                        padding: 0px;


                    }

                    .img-right {
                        width: 205px;
                        height: 197px;
                        border: transparent;
                        border-radius: 50%;
                        z-index: 3;
                        position: absolute;


                    }
                }

            }

            .bottom-line-of-box {
                display: flex;
                flex-direction: row;
                height: 197px;
                margin-top: 394px;

                .img-left-bottom {


                    img {
                        width: 206px;
                        height: 197px;
                    }
                }

                div {
                    .right-box-bottom {
                        width: 291px;
                        height: 197px;
                        background-color: #1c9c6fcf;
                        border: transparent;
                        border-radius: 0px 122px 122px 0px;
                        z-index: 1;
                        position: absolute;

                        .box-in-right-box-bottom-r {
                            width: 37.5px;
                            height: 197px;
                            position: absolute;
                            z-index: 2;
                            background-color: #bcd2eb;
                        }

                        .box-in-right-box-bottom-l {
                            margin-left: 37.5px;
                            width: 37.5px;
                            height: 197px;
                            position: absolute;
                            z-index: 2;
                            background-color: #10825acf;
                        }





                    }

                }
            }








        }


    }


    .box-list {
        background-color: #309975;
        border-bottom: 1px solid white;


        .division-text-tailored {
            height: 192px;
            padding-left: 20px;
            padding-top: 20px;

            .box-service {
                background-color: white;
                border: transparent;
                border-radius: 0 14px 0 0;
                width: 105px;
                height: 32px;




            }

            .text-tailored {
                p {

                    font-weight: 200;
                    font-size: 53px;


                }
            }
        }

        .listofitem {
            margin-top: 194px;
            border-top: 1px solid white;
            display: flex;
            flex-direction: row;


            ul {



                li {

                    // height: 465px;
                    background-color: #309975;



                    .span-right {

                        display: flex;
                        flex-direction: row;
                    }

                    &:hover {
                        background-color: #454d66;
                        transition: 1s;
                        color: white;
                    }







                    .span-right {

                        display: flex;
                        justify-content: space-around;




                        .span-number {
                            span {
                                font-size: 72px;

                            }

                        }

                        .span-he {
                            span {
                                font-size: 32px;


                            }
                        }

                    }

                    .paragraph-list {
                        display: flex;
                        justify-content: space-around;



                        p {

                            font-size: 18px;
                            line-height: 1.6;

                        }
                    }

                }
            }
        }

    }

    .box-abouts {


        background-color: #309975;
        padding-top: 170px;
        padding-left: 30px;


        .about-titr {
            height: 192px;
            padding: 0px 60px;
           

            .box-about-titr-text {


                background-color: white;
                border: transparent;
                border-radius: 0 14px 0 0;
                width: 105px;
                height: 32px;




            }

            .text-about-titr {
                p {


                    font-size: 53px;
                    font-weight: 200;

                }
            }
        }



        .colom-second {

           







        }

        .colom-tired {}



    }

    .approach {
        background-color: #bcd2eb;



        .approach-titr {
           
            padding: 40px 78px;


            .box-approach-titr-text {


                background-color: white;
                border: transparent;
                border-radius: 0 14px 0 0;
                width: 116px;
                height: 32px;
                size: smaller;

            }

            .text-approach-titr {
                p {


                    font-size: 58px;
                    font-weight: 200;

                }
            }
        }

        .approach-paragraph {
            background-color: #309975;
            border: transparent;
            border-radius: 0 181px 0 0;
            margin-left: 80px;
            margin-top: 100px;
            height: 505px;
            font-size: 38px;
            padding-left: 30px;
            display: flex;
            align-items: center;

            p {
                width:100%;
                margin-bottom: 0;

            }



        }





    }

    .benefits {



        .benefits-titr {
            height: 192px;
            padding: 40px 78px;

            margin-top: 70px;


            .box-benefits-titr-text {


                background-color: black;
                border: transparent;
                border-radius: 0 14px 0 0;
                width: 116px;
                height: 32px;
                size: smaller;
                color: white;

            }

            .text-benefits-titr {
                p {

                    font-size: 68px;
                    font-weight: 200;
                }
            }
        }

        .svg-box {
            padding: 0 9px;
            display: flex;
            justify-content: center;

            .svg-1,
            .svg-2,
            .svg-3 {
                margin-left: 70px;



                &:hover {
                    transition: 0.5s;
                    transform: scale(0.9, 0.9);
                }
            }

        }





    }

    .testimonials {
        width: 100%;

        .testimonials-titr {
            height: 192px;
            padding: 40px 78px;

            margin-top: 70px;


            .box-testimonials-titr-text {


                background-color: black;
                border: transparent;
                border-radius: 0 14px 0 0;
                width: 173px;
                height: 32px;
                size: smaller;
                color: white;
                display: flex;
                align-content: center;
                flex-wrap: wrap;
                justify-content: center;
            }

            .text-testimonials-titr {
                p {

                    font-size: 68px;
                    font-weight: 200;

                }
            }
        }

        .picture-of-test {
            .box-of-picture-of-test {
                border: 1px solid black;

                img {
                    border: transparent;
                    border-radius: 50% 50% 50% 0;
                }

                .paragraph-and-span-test {
                    border: 1px solid black;
                }

            }
        }


    }


    .faq {

        display: flex;
        justify-content: space-around;

        .faq-titr {
           
            padding: 40px 78px;
            
            margin-top: 70px;


            .box-faq-titr-text {


                background-color: black;
                border: transparent;
                border-radius: 0 14px 0 0;
                width: 57px;
                height: 32px;
                size: smaller;
                color: white;
                display: flex;
                align-content: center;
                flex-wrap: wrap;
                justify-content: center;
            }

            .text-faq-titr {
                p {

                    font-size: 44px;
                    font-weight: 200;

                }
            }
        }

        .between-box {
            margin-top: 121px;

            margin-left: 73px;

            .accordion {

                --bs-accordion-color: var(--bs-body-color);
                --bs-accordion-bg: transparent;
                --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
                --bs-accordion-border-color: transparent;
                --bs-accordion-border-width: 0px;
                --bs-accordion-border-radius: transparent;
                --bs-accordion-inner-border-radius: transparent;
                --bs-accordion-btn-padding-x: 1.25rem;
                --bs-accordion-btn-padding-y: 1rem;
                --bs-accordion-btn-color: var(--bs-body-color);
                --bs-accordion-btn-bg: var(--bs-accordion-bg);
                --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
                --bs-accordion-btn-icon-width: 1.25rem;
                --bs-accordion-btn-icon-transform: rotate(-180deg);
                --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
                --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
                --bs-accordion-btn-focus-border-color: transparent;
                --bs-accordion-btn-focus-box-shadow: transparent;
                --bs-accordion-body-padding-x: 1.25rem;
                --bs-accordion-body-padding-y: 1rem;
                --bs-accordion-active-color: var(--bs-primary-text-emphasis);
                --bs-accordion-active-bg: transparent;


                .accordion-item {
                    border-bottom: 1px solid black;

                }

                .accordion-body {
                    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
                    font-weight: 200;
                }

                .accordion-button {
                    border-top-left-radius: var(--bs-accordion-inner-border-radius);
                    border-top-right-radius: var(--bs-accordion-inner-border-radius);
                    font-weight: bolder;
                    color: black;
                    padding-top: 25px;
                    padding-bottom: 32px;
                }

            }

        }

        .end-box {
            margin-top: 121px;
        }


    }

    .footer-box {






        background-color: #113025;
        margin-top: 300px;

        .get-in-touch {
            display: flex;
            padding-bottom: 20px;

            background-color: #bcd2eb;

            border: transparent;
            border-radius: 50px 50px 0 0;


            .right-box-get {

                padding: 102px;

                .span-right-box-get {
                    font-size: 71px;
                    font-weight: 200;
                }
            }

            .input-name-lastname {
              

                flex-wrap: wrap;

                .form-leave-comment {
                    margin-top: 10px;
                }

                .btn-Get-a-quote {

                    margin-top: 10px;
                    background-color: black;
                    color: white;
                    border: transparent;
                    border-radius: 22px;
                    height: 48px;

                    &:hover {
                        background-color: white;
                        color: black;
                        border: 2px solid black;
                    }
                }

            }

        }

        .footer-end {
            
            border-bottom: 3px solid white;
            margin-top: 3rem;
            padding-bottom: 3rem;


            .footer-box {
                .footer-element {

                    margin-left: 3rem;
                    padding-top: 3rem;
                    padding-bottom: 1.5rem;
                    padding-left: 1.5rem;
                    padding-right: 3rem;

                    .social-header {
                        margin-bottom: 1rem;
                    }
                }
            }


        }











    }

}